*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* regole generali */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: rgb(155, 155, 155);
}

/* wrapper contenitore */
#wrappercontainer{
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
}

/* sidebar */
#sidebar{
    width: 200px;
    /* padding: 10px; */
    color: rgb(155, 155, 155);
    background-color: #000;
}
#sidebar a{
    text-decoration: none;
    color: rgb(155, 155, 155);
}
#sidebar li {
    margin-bottom: 5px;
    margin-left: 5px;
    display: block;
}

#logo{
    line-height: 80px;
    padding-right: 40px;
    padding: 10px;
}
#logo img{
    vertical-align: middle;
}
#logo a:last-child{
    display: none;
    text-decoration: none;
}

#sidenavbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 80px);
}

#navbarup div{
    margin: 10px 0;
    padding-left: 10px;
}
#navbarup div span:last-child{
    margin-left: 10px;
}

#playlist{
    padding-left: 10px;
    flex-grow: 2;
    overflow-y: auto;
}
#playlist h5{
    margin: 20px 0;
    color: #fff;
}
#newplaylist{
    font-size: 1.4em;
    margin: 10px 0 ;
}


#newplaylist span{
    display: inline-block;
}
#newplaylist span:first-child{
    background-color: rgb(155, 155, 155);
    color: #000;
    padding: 5px;
    text-align: center;
    line-height: 22px;
    width: 30px;
    height: 30px;
}

#playlist ul{
    list-style: none;
    display: block;
}
#playlist li{
    cursor: pointer;
}

#navaccount{
    padding-left: 10px;
    padding-bottom: 25px;
}
#navaccount div:first-child{
    border-bottom: 1px solid rgb(155, 155, 155);
}
#navaccount div{
    padding: 5px 0;
}
#navaccount div:nth-child(2){
    color: #fff;
}

#navaccount i{
    margin-right: 8px;
}

/* hover/active della sidebar*/
#sidebar a:hover{
    color: #fff;
}
#sidebar li:hover{
    color: #fff;
}
#newplaylist:hover{
    color: #fff;
}
#newplaylist:hover span:first-child{
    background-color: #fff;
}
#sidenavbar>#navbarup div.active{
    border-left: 2px solid #07fc30;
    color: #fff;
}


/* main */
#artistmain{
    width: calc(100% - 200px);
    padding: 95px 0;
    color: #fff;
    background-color: #141922;
    overflow-y: auto;
}

#upgrade{
    height: 90px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    top: 0;
    right: 0;
    z-index: 10;
    padding-right: 5px;
}
#upgradecall{
    display: block;
    padding: 8px 30px;
    text-transform: uppercase;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: .8em;
    transition: all 1s;
}


#topnavbar{
    line-height: 45px;
}



#topnavbar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    list-style: none;
}
#topnavbar li{ 
    padding: 5px 15px;
    font-size: 0.8em;
    position: relative;
}
#topnavbar li a{
    text-decoration: none;
    display: block;
    color: rgb(155, 155, 155);
}

/* hover/active main wrapper */
#upgradecall:hover{
    transform: scale(1.1);
}

#topnavbar hr{
    width: 30px;
    color: #07fc30;
    position: absolute;
    top: 65%;
    left: calc(100% / 2);
    translate: calc(-50%);
    display: none;
}
#topnavbar li:hover a{
    color: #fff;
}
#topnavbar li.active a{
    color: #fff;
}
#topnavbar li.active hr{
    display: block;
}

.overlay{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.album>.overlay i{
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.row.roundimg .album .overlay{
    border-radius: 50%;
}
.flexitem:hover .overlay{
    display: block;
}

/* ------------------- */

.row{
    padding: 5px;
}
.containerflex{
    display: flex;
    justify-content: flex-start;
}
.flexitem{
    max-width: calc(100% / 6);
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.rowtitle{
    margin: 10px;
}
.album{
    position: relative;
}
.album img{
    width: 100%;
    object-fit: contain;
}
.row.roundimg img {
    border-radius: 50%;
}

.row h2{
    line-height: 2em;
}
.row h6{
    color: rgb(155, 155, 155);
    line-height: 3em;
}

/* playbar */
#playbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    /* debug per fixed playbar */
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
#playbar a{
    text-decoration: none;
    color: rgb(155, 155, 155);
}

#playbar i:not(#playersx i){
    cursor: pointer;
    color: #fff;
}

#playersx, #playerdx{
    display: flex;
    align-items: center;
}

#playersx div:first-child img{
    height: 50px;
    padding: 5px;
    margin-right: 10px;   
}

.albumdescript h4{
    color: #fff;
    font-size: .8em;
}
#playersx div:nth-child(3){
    margin: 0 15px;
}
#playersx div:nth-child(3) i, #playerdx div:first-child i{
    padding: 0 3px;
}

#playercenter{
    width: 45%;
}

#trackbar, #playerbutton{
    display: flex;
    align-items: center;
    height: 40px;
}
#playerbutton{
    align-items: flex-end;
}
#playerbutton>div{
    margin: 0 auto;
}
#playerbutton>div>i{
    margin: 0 10px;
    font-size: 1.2em;
    
}
.faketrack{
    border: 2px solid rgb(155, 155, 155);
    border-radius: 25px;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
}
#track{
    flex-grow: 4;
}
.scorrimento{
    border-radius: 25px;
    cursor: pointer;
    width: 25%;
    right: 76%;
    position: absolute;
    border: 2px solid #fff;
}
#track>.scorrimento{
    bottom: -2px;
}
#volume{
    border: 1px solid ;
    min-width: 60px;
}
#volume>.scorrimento{
    border: 1px solid #fff;
    bottom: -1px;
}
#trackbar>div{
    font-size: .7em;
    /* padding: 0 10px; */
}

/* Hover/Active effect playbar */
#playersx i:hover{
    cursor: pointer;
    color: #fff;
}
#track.faketrack:hover .scorrimento, #volume.faketrack:hover .scorrimento{
    border-color: #07fc30;
}


/* --------------------------- */


/* ------------- Responsive ----------- */
/* prova dimensione <425px */
@media all and (max-width:425px){
    #playersx div:nth-child(3) {
        display: none;
    }
    #playercenter {
        width: 50%;
    } 
    #playercenter>#playerbutton div:first-child i{
        font-size: 1em;
    }
}
/* dimensione xs */
@media all and (max-width:552px) {
    /* sezione update */
    #upgrade{
        width: calc(100% - 50px);
    }
    /* sezione barra laterale */
    #playlist{
        display: none;
    }
    #sidebar{
        width: 50px;
        padding: 5px;
    }
    #sidenavbar>#navbarup>div>a>span:last-child{
        display: none;
    }
    #sidenavbar>#navbarup>div>a>span:first-child{
        display: block;
        font-size: 1.4em;
        text-align: center;
    }

    #logo{
        line-height: normal;
    }
    #logo a:first-child{
        display: none;
    }
    #logo a:last-child{
        display: block;
        text-decoration: none;
        width: 40px;
    }

    #navaccount div span:last-child{
        display: none;
    }
    #navaccount{
        text-align: center;
    }
    #navaccount i{
        display: block;
        font-size: 1.4em;
        text-align: center;
        margin-right: 0;
    }
    #navaccount div:first-child{
        border-bottom: 0;
    }
    /* sezione centrale wrapper */
    #artistmain{
        width: calc(100% - 50px);
    }
    .containerflex{
        flex-wrap: wrap;
    }
    .flexitem{
        max-width: calc(100% / 2);
    }
    
    /*  footer playbar  */
    #playersx div:first-child img{
        display: none;   
    }
    #playersx div:nth-child(2){
        margin-left: 5px;
        width: min-content;
    }
    #playersx div:nth-child(3) {
        margin: 0 5px;
    }
    #volume {
        min-width: 40px;
    }
    #playercenter>#playerbutton div:first-child i{
        font-size: 1em;
    }
    
}

/* dimensione s */
@media all and (min-width:553px) and (max-width:639px){
    /* sezione centrale wrapper */
    .containerflex{
        flex-wrap: wrap;
    }
    .flexitem{
        max-width: calc(100% / 2);
    }
    /*  footer playbar  */
    #playersx div:nth-child(2){
        margin-left: 5px;
        width: min-content;
    }
    #playersx div:nth-child(3) {
        margin: 0 5px;
    }
    #volume {
        min-width: 40px;
    }
}

/* dimensione md */
@media all and (min-width:640px) and (max-width:878px){
    /* sezione centrale wrapper */
    .containerflex{
        flex-wrap: wrap;
    }
    .flexitem{
        max-width: calc(100% / 4);
    }
    /*  footer playbar  */
    #playersx div:nth-child(2){
        margin-left: 5px;
        width: min-content;
    }
    #playersx div:nth-child(3) {
        margin: 0 5px;
    }
}

/* dimensione lg */
@media all and (min-width:879px) and (max-width:1440px){
    
}